# Pengenalan Python

# apa itu Python?

Python merupakan bahasa pemrograman tingkat tinggi yang dirancang oleh Guido van Rossum pada tahun 1991.
python lebih menekankan pada keterbacaan kode agar lebih mudah untuk memahami sintaks. Hal ini membuat Python sangat mudah dipelajari.

# Instalasi Python

- kunjungi website python : www.python.org/
- Pilih sesuai dengan sistem operasi yang digunakan
- pada sistem operasi windows, pilih excecuteable installer
- pada saat instalasi pilih "add python 3.6 to path" untuk menambahkan pada path environtment variables.

# Variabel

Variabel adalah  lokasi penyimpanan dan terkait nama simbolis yang berisi informasi atau nilai.

Aturan Penulisan variable pada python :
- Nama variabel diawali huruf atau underscore
- Karakter selanjutnya dapat berupa huruf, underscore atau angka.
- Nama variabel bersifat case-sensitive
- Nama variabel tidak boleh menggunakan kata kunci yang disediakan python.

In [4]:
nama = "Budi"
Nama = "Andi"
print(nama)
print(Nama)

Budi
Andi

# Tipe Data Pada Python

Secara umum, tipe data dalam python terdiri dari :
- numbers
- strings
- boolean
- List
- Tuple
- Dictionary

## Numbers

Tipe data numbers atau angka terdapat 2 tipe yaitu :
- int: bilangan bulat
- float: bilangan pecahan

In [8]:
panjang = 10
type(panjang)

int

In [9]:
lebar = 5.0
type(lebar)

float

## String

String : merupakan tipe data yang terdiri dari kumpulan karakter.
String dapat menggunakan tanda petik tunggal (‘…..’) maupun ganda(“….”)

In [11]:
alamat = 'Jakarta'
print(alamat)

Jakarta

In [12]:
Alamat = "Depok"
print(Alamat)

Depok

### Metode Manipulasi String

Pada tipe data string terdapat beberapa metode yang digunakan untuk memanipulasi atau mengubah string.
- upper() : digunakan untuk mengubah string menjadi huruf besar
- lower() : mengubah string menjadi huruf kecil
- title() : mengubah string menjadi huruf besar pada awal kata.

Selain itu terdapat operator yang dapat digunakan pada string :
- Concat (+) : menggabungkan string

In [20]:
kata = "selamat siang "
kata2 = "Teman-Teman"
print(kata.upper())
print(kata.lower())
print(kata.title())
print(kata + kata2)

SELAMAT SIANG
selamat siang
Selamat Siang
selamat siang Teman-Teman

# Boolean

Tipe data boolean adalah tipe data yang hanya memiliki dua nilai yaitu True dan False.

In [23]:
benar = True
salah = False
print("nilai variabel benar :", benar)
print("nilai variabel salah :", salah)

nilai variabel benar : True
nilai variabel salah : False

# List

Merupakan kumpulan data berurutan yang memiliki index dan setiap elemen dipisahkan dengan koma.
List ditandai dengan kurung siku. [.... , ....]

In [31]:
makanan = ['roti','soto','mie','sop']
print(makanan)

['roti', 'soto', 'mie', 'sop']

## Akses List

In [32]:
print(makanan[0])
print(makanan[-1])

roti
sop

## Update List

In [34]:
makanan[1] = "ayam goreng"
print(makanan[1])
print(makanan)

ayam goreng
['roti', 'ayam goreng', 'mie', 'sop']

## Delete List

In [35]:
del makanan[2]
print(makanan)

['roti', 'ayam goreng', 'sop']

# Tuple

Merupakan tipe yang sama dengan list, namun tuple tidak dapat diubah elemen nya seperti pada list.
Tuple menggunakan tanda “( “ dan “)”

In [39]:
minuman = ('teh','kopi','air putih')
print(minuman)

('teh', 'kopi', 'air putih')

## Akses Elemen Tuple

In [41]:
print(minuman[0])
print(minuman[2])

teh
air putih

## Gabung Elemen Tuple

In [42]:
minuman2 = ('jus','sirup')
minuman3 = minuman + minuman2
print(minuman3)

('teh', 'kopi', 'air putih', 'jus', 'sirup')

## Delete Tuple

In [46]:
del minuman3
print(minuman3)

NameError: name 'minuman3' is not defined

# Dictionary

kumpulan data berurutan berupa pasangan kunci dan nilai.
bentuk dari dictionary adalah sebagai berikut :
{'kunci':'nilai' , '...':'...'}

In [81]:
data = {'nama':'Budi', 'umur':17, 'kelas':'4IA14'}
print(data)

{'nama': 'Budi', 'umur': 17, 'kelas': '4IA14'}

## Akses Elemen Dictionary

In [82]:
print("nama saya adalah ", data['nama'])
print("umur saya ", data['umur'])
print("saya kelas ", data['kelas'])

nama saya adalah  Budi
umur saya  17
saya kelas  4IA14

## Update Elemen Dictionary

In [83]:
data['nama']="Adi"
print(data)

{'nama': 'Adi', 'umur': 17, 'kelas': '4IA14'}

## Delete Elemen Dictionary

In [84]:
del data['nama']
print(data)

{'umur': 17, 'kelas': '4IA14'}

# Konversi Tipe Data

Konversi tipe data dibutuhkan dalam beberapa kondisi. berikut adalah metode yang digunakan untuk mengubah dari tipe data yang satu ke yang lainnya.

- int() : digunakan untuk mengubah tipe data menjadi bertipe integer.
- float() : digunakan untuk mengubah tipe data menjadi bertipe float.
- str() : digunakan untuk mengubah tipe data menjadi bertipe string.
- bool() : digunakan untuk mengubah tipe data menjadi bertipe boolean.
- list() : digunakan untuk mengubah tipe data menjadi bertipe list.
- tuple() : digunakan untuk mengubah tipe data menjadi bertipe tuple.

In [85]:
makanan
print(tuple(makanan))
print(list(makanan))

('roti', 'ayam goreng', 'sop')
['roti', 'ayam goreng', 'sop']

# Operator

## Operator Aritmatika
- Penjumlahan
- Pengurangan
- Perkalian
- Pembagian
- Sisa hasil bagi
- Pangkat
- Floor

In [62]:
a = 10
b = 3
print("hasil Penjumlahan :" , (a+b))
print("hasil Pengurangan :" , (a-b))
print("hasil Perkalian :" , (a*b))
print("hasil Pembagian :" , (a/b))
print("hasil Modulo :" , (a%b))
print("hasil Operasi Floor :" , (a//b))

hasil Penjumlahan : 13
hasil Pengurangan : 7
hasil Perkalian : 30
hasil Pembagian : 3.3333333333333335
hasil Modulo : 1
hasil Operasi Floor : 3

## Operator Perbandingan
- Sama dengan ( == )
- Tidak sama dengan (!=)
- Lebih besar dari (>)
- Lebih kecil dari (<)
- Lebih besar sama dengan (>=)
- Lebih kecil sama dengan (<=)

In [65]:
c = 5
d = 10
print("Operator Sama Dengan : ", (c == d))
print("Operator Tidak Sama Dengan : ", (c != d))
print("Operator Lebih Besar : ", (c > d))
print("Operator Lebih Kecil : ", (c < d))
print("Operator Lebih Besar Sama Dengan : ", (c >= d))
print("Operator Lebih Kecil Sama Dengan : ", (c <= d))

Operator Sama Dengan :  False
Operator Tidak Sama Dengan :  True
Operator Lebih Besar :  False
Operator Lebih Kecil :  True
Operator Lebih Besar Sama Dengan :  False
Operator Lebih Kecil Sama Dengan :  True

## Operator Penugasan
- (=) 
- (+=) 
- (-=)
- (*=)
- (/=)
- (**=)
- (//=)

In [73]:
e = 5
f = 2

e+=f
print("nilai e dengan operator += :", e)

e-=f
print("nilai e dengan operator -= :", e)

e*=f
print("nilai e dengan operator *= :", e)

e/=f
print("nilai e dengan operator /= :", e)

e**=f
print("nilai e dengan operator **= :", e)

e//=f
print("nilai e dengan operator //= :", e)

nilai e dengan operator += : 7
nilai e dengan operator -= : 5
nilai e dengan operator *= : 10
nilai e dengan operator /= : 5.0
nilai e dengan operator **= : 25.0
nilai e dengan operator //= : 12.0

## Operator Logika
- AND
- OR
- NOT

In [76]:
g = True
h = False
print("operator logika AND : ", (g and h))
print("operator logika OR : ", (g or h))
print("operator logika NOT : ", (not g))

operator logika AND :  False
operator logika OR :  True
operator logika NOT :  False

## Operator Membership
- in
- not in

In [89]:
angka = [1,3,5,7,9]
x = 2
y = 5
print("apakah x berada di list angka? ", (x in angka))
print("apakah y berada di list angka? ", (y in angka))

print("apakah x tidak berada di list angka? ", (x not in angka))
print("apakah y tidak berada di list angka? ", (y not in angka))

apakah x berada di list angka?  False
apakah y berada di list angka?  True
apakah x tidak berada di list angka?  True
apakah y tidak berada di list angka?  False

## Operator Bitwise
Operator yang bekerja bit per bit.
- &  (AND)
- | (OR)
- ^ (XOR)

Angka1 = 60 (0011 1100)
Angka2 = 13 (0000 1101)

In [94]:
angka1 = 60
angka2 = 13
print(angka1 & angka2)
print(angka1 | angka2)

12
61

# Percabangan
percabangan pada python terdapat 2 jenis yaitu :
- If else
- If elif else

In [96]:
nilaiAkhir = 50;
if nilaiAkhir < 70:
    print("Anda Tidak Lulus")
else:
    print("Anda Lulus")

Anda Tidak Lulus

# Perulangan
perulangan pada python terdapat 2 jenis yaitu :
- for
- while

#### For Loop

In [100]:
for i in range(5):
    print(i)

0
1
2
3
4

#### while Loop

In [101]:
x1 = 0
while (x1 < 5):
    print(x1)
    x1 += 1

0
1
2
3
4